<div class="row">
  <%= simple_form_for question do |f| %>
    <div>
      <%= f.input :content, label: false, placeholder: "Comment consumer moins d'electricite" %>
    </div>
    <div class="col mt-5">
      <%= f.submit "Démarrer", class: "btn btn-primary rounded-pill" %>
    </div>
    <% end %>
</div>
