// Specific CSS for your home-page
body{
  background-image: image-url('background.jpg');
  background-attachment: fixed;
  background-size: cover;
}

@media (min-width: 576px) {

  .container {
    max-width: auto;
    margin-top: 5rem;
  }

  .form-control {
    width: 400px;
    border-radius: 30px;
    background-color: transparent;
  }
}
