// Specific CSS for your home-page
body {
  font-family: $body-font;
  }

  h1, h4 {
  color: rgb(15, 14, 14) !important;
  }

  .text-bg-primary {
  color: #fff !important;
  background-color: #37C53B !important;
  }

  .eco {
  // max-width: 100%;
  width: 400px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .call-to-action_component {
    display: flex;
    justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 25px;
  font-family: 'Open Sans',sans-serif;
  background: linear-gradient(145deg, #b2dead, #1c6715);
  box-shadow: 7px 7px 14px #dedede, -7px -7px 14px #ffffff;
  }

  .shadow-container {
  margin-top: 35px;
  border-radius: 25px;
  background: linear-gradient(145deg, #e3e3e3, #ffffff);
  box-shadow: 7px 7px 14px #dedede, -7px -7px 14px #ffffff;
  }



  .flag {
  background-color: #37C53B;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  }

  .flag-m {
  background-color: #c6d8f6;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #37C53B;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  }

  .btn-about {
  font-family: $body-font;
  border-radius: 5px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: 1rem 2rem;
  }

  /* Media queries */
  @media (min-width: 400px) {
  .badge{
    font-size: 1.2rem;
    width: auto;
  }
  .eco {
  max-width: 50%;
  }

  .call-to-action_component {
  max-width: 80%;
  margin: 2rem auto;
  }

  .shadow-container {
  max-width: 90%;
  margin: 2rem auto;
  }

  .form-control {
  max-width: 390px;
  }

  .btn-about {
    font-family: $body-font;
    border-radius: 5px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    padding: 10px 20px;
  }
}
  // Loading
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .lds-ring div {
    // box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #37C53B;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0b6538 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

