/* utility */
@media (min-width: 390px) {
  body {
    font-family: $body-font;
    h1, h4 {
      color: rgb(15, 14, 14) !important;
    }

  }

.slide-container{
  margin-top: 50px;
  background-color: white;
}

.card-wrapper{
  display: flex;
  justify-content: center;
  // padding-top: 20px;
  // column-gap: 8px;
}

.slide-content{
  // margin: 0 40px;
}

.icon-pdf{
  width: 30px;
}
.card {
  width: 190px;
  border-radius: 25px;
  background-color: #fff;
  transition: all 0.4s ease;
}

.card:hover{
  transform: translateY(-15px);
}

.card-header,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.card-header{
  position: relative;
  row-gap: 5px;
}

.overlay{
  background-color: transparent;
  transition: all 0.4s ease;
}

.card-title {
  position: relative;
}
.card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.description{
  font-size: 16px;
  color: #999;
  text-align: center;
}


  .card-header {
  .form-check .form-check-input {
    float: left;
    margin-left: -4.5em;
  }


    .form-check-input:checked {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: green;
    }

    .form-check-input[type="checkbox"] {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }

    .button{
      width: 25px;
      height: 25px;
      margin-top: 3px;
      border-radius: 50%;
      border: none;
      outline: none;
      margin-right: -4.5em;
    }
  }

  .progress{
    width: 200px;
  }

  html.sr .load-hidden {
    visibility: hidden;
  }

  .widget-list {
    background: transparent;
  }

  .widget {
    margin: 0.6rem;
    background: white;
    text-align: center;
  }

  /* extension */
  html.sr .widget {
    visibility: hidden;
  }
}
