/* utility */
@media (min-width: 390px) {
  *{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .shadow-container{
    border-radius: 25px;
    background-color: #fff;
  }

  .progress{
    width: 200px;
    background-color: rgb(68, 165, 84);
  }

  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: green;
    transition: var(--bs-progress-bar-transition);
  }

  .card-wrapper{
    display: flex;
    justify-content: center;
  }

  .slide-content{
    margin-bottom: 50px;
    background-color: white;
  }

  .widget-list {
    display: flex;
    justify-content: center;
    background: transparent;
  }

  .widget {
    margin: 0.6rem;
    background: white;
    text-align: center;
  }

  .icon-pdf{
    width: 30px;
  }

  .card {
    width: 190px;
    border-radius: 25px;
    background-color: #fff;
    transition: all 0.4s ease;
  }

  .card:hover{
    transform: translateY(-15px);
  }

  .card-header,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }

  .card-header{
    position: relative;
    row-gap: 5px;
  }

  .overlay{
    background-color: transparent;
    transition: all 0.4s ease;
  }

  .card-title {
    position: relative;
  }
  .card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  .description{
    font-size: 16px;
    color: #999;
    text-align: center;
  }

  .card-header {
  .form-check .form-check-input {
    float: left;
    margin-left: -4.5em;
  }

    .form-check-input:checked {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: green;
    }

    .form-check-input[type="checkbox"] {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }

    .button{
      width: 25px;
      height: 25px;
      margin-top: 3px;
      border-radius: 50%;
      border: none;
      outline: none;
      margin-right: -4.5em;
    }
  }

  html.sr .load-hidden {
    visibility: hidden;
  }

  /* extension */
  html.sr .widget {
    visibility: hidden;
  }

  .card-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 23px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 1400px) {
  .card {
    width: 300px;
  }

  .card-header{
    position: relative;
    row-gap: 8px;
  }
}
