<div class="navbar navbar-expand-sm navbar-lewagon  p-2">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar" do %>
    <%= image_tag "logo.png", class: "avatar-large" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "sign_in.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <%#= image_tag "menu1.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%#= image_tag "menu2.png", class: "overlay", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-end shadow rounded-4" aria-labelledby="navbarDropdown">
              <%= link_to "Démarrer un bilan", new_question_path, class: "dropdown-item" %>
              <%= link_to "Historique", history_index_path, class: "dropdown-item" %>
              <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Connexion", new_user_session_path, class:'send-button text-decoration-none' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
