
<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="shadow-container home-input p-5 ">
    <div class="col-12">
      <h1>Bienvenue chez  <span class="badge text-bg-primary">ECOMA</span></h1>
      <h4><span data-controller="typed-js"></span></h4>
      <div class="pt-4"><%= render "questions/input", question: @question %></div>
    </div>
  </div>
  <br>
  <div class="shadow-container">
    <h2>MA FACTURE EST ANORMALEMENT ÉLEVÉE : POURQUOI ?</h2>
    <br>
    <p>Actuellement, les prix des énergies s’envolent. Pour 79 % des Français les factures
    d’énergie représentent une part importante des dépenses de leur foyer..</p>
  </div>
  <div class="shadow-container">
    <div class="row g-4">
      <div class="col-md-8">
        <div class="card-body">
          <h2><strong>ECOMA</strong> vous donne des simples eco-gestes pour faire des économies</h2>
          <ul class="list-unstyled list-circles">
            <li class="circle">Avec des simples questions</li>
              <li class="circle">C'est fait ! Votre évaluation révélera:
                <ul class="list-unstyled list-consult-profits">
                  <li class="tick">- Comme economiser le gaz a la maison</li>
                  <li class="tick">- Comme economiser l'electricite </li>
                  <li class="tick">- Comme economiser l'eau</li>
                </ul>
              </li>
            </li>
          </ul>
        </div>
        <br>
      </div>
    </div>
  </div>
  <br>
</div>
