.btn-rechercher {
  align-self: auto;
  background-image: linear-gradient(90deg,rgba(32, 178, 122, 0.81),#0b6538);
  border-radius: 8px;
  border: none;
  color: #FFF;
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 48px;
  margin-top: 14px;
  padding : 10px 20px;
  // position: absolute;
  transition: .3s;
}

.btn-rechercher:hover {
  background-color: #fff;
  box-shadow: 0 0 0 5px #3a3c3d5f;
  color: #fff;
  font-size: 30px;
}

.send-button {
  background-image: linear-gradient(90deg,rgba(32, 178, 122, 0.81),#0b6538);
  font-family: 'Nunito';
  border: none;
  padding : 10px 20px;
  border-radius: 8px;
  transition: .3s;
  margin-bottom: 48px;
  align-self: auto;
  margin-top: 24px;
  color: #FFF;
  font-weight: bold;
  }

.send-button:hover {
    background-color: #fff;
    box-shadow: 0 0 0 5px #3a3c3d5f;
    font-size: large;
    color: #fff;
  }
