@media (min-width: 1400px) {
  .input-space{
    width: 430px;
  }
}
.form-control {
  // max-width: 530px;
  border-radius: 30px;
  background-color: transparent;
}

@media (min-width: 390px) {
  .input-space{
    width: 100%;
  }
}
