.navbar-lewagon {
<<<<<<< HEAD
  margin-left: 0;
  background: transparent;

=======
  justify-content: space-between;
  background: transparent;
>>>>>>> 58f4d0c1eab6984a7a92f69560cd70e40a54d62e
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon img {
  width: 60px;
}

.dropdown-menu{
  background: transparent;
  font-size: larger;
}

.menu img {
  opacity: 1;
  transition: opacity 0.8s ease;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.menu .overlay {
  opacity: 0;
}

.menu:hover img:first-child {
  opacity: 0;
}
.menu:hover .overlay {
  opacity: 1;
}
